In [1]:
import pandas as pd

In [2]:
df = pd.read_excel('data/istanbul-dams-daily-occupancy-rates.xlsx')
pd.DataFrame(df.dtypes).T

,Tarih,Ömerli,Darlık,Elmalı,Terkos,Alibey,Büyükçekmece,Sazlıdere,Kazandere,Pabuçdere,Istrancalar
0,object,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64

#### We know from First_Look
        Lines 8195 through 8324 seem to have the same problem

#### Seperate data in two data frame

In [3]:
list1 = list(range(8195)) + list(range(8325, 8409))
list2 = list(range(8195, 8325))
df1 = df.iloc[list1].copy()
df2 = df.iloc[list2].copy()

**&emsp;&emsp;Check for any missing or duplicated rows**

In [4]:
df.shape[0] == df1.shape[0] + df2.shape[0]

True

<p style="background-image: linear-gradient(to right, #0D9276, #41b675)"> &nbsp </p>

#### WORKING ON FIRST DATA FRAME

In [5]:
df1.head(3)

,Tarih,Ömerli,Darlık,Elmalı,Terkos,Alibey,Büyükçekmece,Sazlıdere,Kazandere,Pabuçdere,Istrancalar
0,2000-10-23 00:00:00,0.652551,0.750151,0.789792,0.708568,0.0,0.521442,0.505489,0.057499,0.068553,0.110953
1,2000-10-24 00:00:00,0.659731,0.773031,0.817187,0.710344,0.0,0.521442,0.506952,0.057499,0.069092,0.077226
2,2000-10-25 00:00:00,0.663327,0.787929,0.826667,0.708568,0.0,0.519666,0.506952,0.057499,0.069361,0.105593

<p style="background-image: linear-gradient(#0D9276, #FFFFFF 10%)"> &nbsp </p>

**&emsp;&emsp;Set date ('Tarih') columd as date type**

In [6]:
df1['Tarih'] = pd.to_datetime(df1['Tarih'])
df1.head(3)

,Tarih,Ömerli,Darlık,Elmalı,Terkos,Alibey,Büyükçekmece,Sazlıdere,Kazandere,Pabuçdere,Istrancalar
0,2000-10-23,0.652551,0.750151,0.789792,0.708568,0.0,0.521442,0.505489,0.057499,0.068553,0.110953
1,2000-10-24,0.659731,0.773031,0.817187,0.710344,0.0,0.521442,0.506952,0.057499,0.069092,0.077226
2,2000-10-25,0.663327,0.787929,0.826667,0.708568,0.0,0.519666,0.506952,0.057499,0.069361,0.105593

<p style="background-image: linear-gradient(#0D9276, #FFFFFF 10%)"> &nbsp </p>

**&emsp;&emsp;Check max values**

In [7]:
df1.agg(['max'])

,Tarih,Ömerli,Darlık,Elmalı,Terkos,Alibey,Büyükçekmece,Sazlıdere,Kazandere,Pabuçdere,Istrancalar
max,2023-10-31,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.999945

In [8]:
pd.DataFrame((df1.iloc[:,1:] > 1).sum(), columns=['counts']).T

,Ömerli,Darlık,Elmalı,Terkos,Alibey,Büyükçekmece,Sazlıdere,Kazandere,Pabuçdere,Istrancalar
counts,0,0,0,0,0,0,361,0,688,0

In [9]:
df1['Sazlıdere'].max()

1.0000000000000002

**_&emsp;&emsp;&emsp;This values will be rounded to 4 digits after being concatenated._**

<p style="background-image: linear-gradient(to right, #0D9276, #41b675)"> &nbsp </p>

#### WORKING ON SECOND DATA FRAME

In [10]:
df2.head(3)

,Tarih,Ömerli,Darlık,Elmalı,Terkos,Alibey,Büyükçekmece,Sazlıdere,Kazandere,Pabuçdere,Istrancalar
8195,1.4.2023,60.65,52.05,40.15,32.42,14.48,30.44,32.53,9.23,9.35,39.97
8196,2.4.2023,61.15,52.23,40.26,32.57,14.57,30.44,32.47,9.11,8.98,39.39
8197,3.4.2023,61.50,52.60,40.26,32.72,14.62,30.61,32.47,9.48,9.24,38.02

<p style="background-image: linear-gradient(#0D9276, #FFFFFF 10%)"> &nbsp </p>

**&emsp;&emsp;Set date ('Tarih') columd as date type**

In [11]:
df2['Tarih'] = pd.to_datetime(df2.loc[:,'Tarih'], format='%d.%m.%Y')
df2.head(3)

,Tarih,Ömerli,Darlık,Elmalı,Terkos,Alibey,Büyükçekmece,Sazlıdere,Kazandere,Pabuçdere,Istrancalar
8195,2023-04-01,60.65,52.05,40.15,32.42,14.48,30.44,32.53,9.23,9.35,39.97
8196,2023-04-02,61.15,52.23,40.26,32.57,14.57,30.44,32.47,9.11,8.98,39.39
8197,2023-04-03,61.50,52.60,40.26,32.72,14.62,30.61,32.47,9.48,9.24,38.02

<p style="background-image: linear-gradient(#0D9276, #FFFFFF 10%)"> &nbsp </p>

**&emsp;&emsp;Set percentages**

In [12]:
df2.loc[:,'Ömerli':] = df2.loc[:,'Ömerli':] / 100
df2.head(3)

,Tarih,Ömerli,Darlık,Elmalı,Terkos,Alibey,Büyükçekmece,Sazlıdere,Kazandere,Pabuçdere,Istrancalar
8195,2023-04-01,0.6065,0.5205,0.4015,0.3242,0.1448,0.3044,0.3253,0.0923,0.0935,0.3997
8196,2023-04-02,0.6115,0.5223,0.4026,0.3257,0.1457,0.3044,0.3247,0.0911,0.0898,0.3939
8197,2023-04-03,0.6150,0.5260,0.4026,0.3272,0.1462,0.3061,0.3247,0.0948,0.0924,0.3802

<p style="background-image: linear-gradient(#0D9276, #FFFFFF 10%)"> &nbsp </p>

**&emsp;&emsp;Check max values**

In [13]:
df2.agg(['max'])

,Tarih,Ömerli,Darlık,Elmalı,Terkos,Alibey,Büyükçekmece,Sazlıdere,Kazandere,Pabuçdere,Istrancalar
max,2023-08-08,0.7953,0.656,0.4844,0.4145,0.2668,0.3448,0.3407,0.2254,0.1539,0.536

<p style="background-image: linear-gradient(to right, #0D9276, #41b675)"> &nbsp </p>


#### CONCANTENATE DATA FRAMES BACK

In [14]:
clean_df = pd.concat([df1, df2], axis=0)
clean_df.sort_index(inplace=True)
clean_df.head()

,Tarih,Ömerli,Darlık,Elmalı,Terkos,Alibey,Büyükçekmece,Sazlıdere,Kazandere,Pabuçdere,Istrancalar
0,2000-10-23,0.652551,0.750151,0.789792,0.708568,0.0,0.521442,0.505489,0.057499,0.068553,0.110953
1,2000-10-24,0.659731,0.773031,0.817187,0.710344,0.0,0.521442,0.506952,0.057499,0.069092,0.077226
2,2000-10-25,0.663327,0.787929,0.826667,0.708568,0.0,0.519666,0.506952,0.057499,0.069361,0.105593
3,2000-10-26,0.662608,0.793250,0.828125,0.706792,0.0,0.517889,0.506952,0.057499,0.069624,0.114171
4,2000-10-27,0.660450,0.795911,0.828125,0.706792,0.0,0.516113,0.505489,0.057499,0.066667,0.114017

<p style="background-image: linear-gradient(#0D9276, #FFFFFF 10%)"> &nbsp </p>

**&emsp;&emsp;Check types**

In [15]:
pd.DataFrame(clean_df.dtypes).T

,Tarih,Ömerli,Darlık,Elmalı,Terkos,Alibey,Büyükçekmece,Sazlıdere,Kazandere,Pabuçdere,Istrancalar
0,datetime64[ns],float64,float64,float64,float64,float64,float64,float64,float64,float64,float64

<p style="background-image: linear-gradient(#0D9276, #FFFFFF 10%)"> &nbsp </p>

**&emsp;&emsp;Set dates as Index**

In [16]:
clean_df.set_index('Tarih', inplace=True)
clean_df.head()

,Ömerli,Darlık,Elmalı,Terkos,Alibey,Büyükçekmece,Sazlıdere,Kazandere,Pabuçdere,Istrancalar
Tarih,,,,,,,,,,
2000-10-23,0.652551,0.750151,0.789792,0.708568,0.0,0.521442,0.505489,0.057499,0.068553,0.110953
2000-10-24,0.659731,0.773031,0.817187,0.710344,0.0,0.521442,0.506952,0.057499,0.069092,0.077226
2000-10-25,0.663327,0.787929,0.826667,0.708568,0.0,0.519666,0.506952,0.057499,0.069361,0.105593
2000-10-26,0.662608,0.793250,0.828125,0.706792,0.0,0.517889,0.506952,0.057499,0.069624,0.114171
2000-10-27,0.660450,0.795911,0.828125,0.706792,0.0,0.516113,0.505489,0.057499,0.066667,0.114017

<p style="background-image: linear-gradient(#0D9276, #FFFFFF 10%)"> &nbsp </p>

**&emsp;&emsp;Round values to 4 digits**

In [17]:
clean_df = clean_df.round(4)
clean_df.tail()

,Ömerli,Darlık,Elmalı,Terkos,Alibey,Büyükçekmece,Sazlıdere,Kazandere,Pabuçdere,Istrancalar
Tarih,,,,,,,,,,
2023-10-27,0.4205,0.3092,0.1565,0.0920,0.2139,0.0397,0.0465,0.0643,0.0322,0.2287
2023-10-28,0.4155,0.3059,0.1531,0.0897,0.2088,0.0397,0.0421,0.0654,0.0322,0.2317
2023-10-29,0.4106,0.3030,0.1498,0.0885,0.2048,0.0397,0.0400,0.0687,0.0345,0.2358
2023-10-30,0.4057,0.3000,0.1467,0.0862,0.2020,0.0386,0.0376,0.0706,0.0373,0.2393
2023-10-31,0.3995,0.2975,0.1450,0.0851,0.1943,0.0386,0.0353,0.0712,0.0366,0.2280

<p style="background-image: linear-gradient(#0D9276, #FFFFFF 10%)"> &nbsp </p>

**&emsp;&emsp;Check values**

In [18]:
clean_df.agg(['mean', 'max', 'min'])

,Ömerli,Darlık,Elmalı,Terkos,Alibey,Büyükçekmece,Sazlıdere,Kazandere,Pabuçdere,Istrancalar
mean,0.694923,0.676581,0.659562,0.708137,0.53848,0.615152,0.554043,0.626326,0.568846,0.625837
max,1.000000,1.000000,1.000000,1.000000,1.00000,1.000000,1.000000,1.000000,1.000000,0.999900
min,0.050700,0.054000,0.005100,0.085100,0.00000,0.016100,0.012100,0.005200,0.000000,0.054600

<p style="background-image: linear-gradient(#0D9276, #FFFFFF 10%)"> &nbsp </p>

**&emsp;&emsp;Save cleaned version**

In [19]:
# clean_df.to_csv('data/clean_rates.csv')